<h2 class="ui header">Scores for Match</h2>

<div class="ui segment">
  <div class="ui vertically divided grid">

    <div class="three column row">
      <div class="column">
        <h4 class="ui small grey header">Team</h4>
      </div>
      <div class="column">
        <h4 class="ui small grey header">Score</h4>
      </div>
      <div class="right aligned column">
        <h4 class="ui small grey header">Actions</h4>
      </div>
    </div>

    <%= render partial: "shared/empty_row", locals: { collection: @scores, item_title: "scores" } %>

    <% @scores.each do |s| %>
      <div class="three column row">
        <div class="column">
          <h3><%= s.team.name %></h3>
        </div>
        <div class="column">
          <h3><%= s.score %></h3>
        </div>
        <div class="right aligned column">
          <h3><%= link_to "Edit", {action: "edit", id: s.id}, method: :get, class: "ui blue button" %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
