<% if place == 1 %>
  <span class="ui empty circular yellow label"></span>
<% elsif place == 2 %>
  <span class="ui empty circular grey label"></span>
<% elsif place == 3 %>
  <span class="ui empty circular brown label"></span>
<% end %>
