<h2>Create a New Game</h2>

<%= form_for @game, url: {action: "create"}, html: {class: "ui form"} do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "Submit", class: "ui green button" %>
<% end %>
